<br />
<br />
<table class="table col-11 mr-auto ml-auto table-dark">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of dataSource">
      <ng-container
        *ngIf="
          (+user.date[1] == date.getMonth()+1) &&
          ( 
            (+user.date[0] + 3 >= date.getDate() && +user.date[0] <= date.getDate() + 4) ||
            +user.date[0] == date.getDate()
          )
        "
      >
        <td>{{ user.name }}</td>
        <td>
          <b class="text-warning">
            {{ user.date[0] }}
            {{ user.date[1] }}         
        </b>
        {{ user.date[2] }}

        </td>
        <td>{{ user.phone }}
          <button class="mr-1 ml-1" mat-raised-button [cdkCopyToClipboard]="user.phone">Copy</button>
          <a class="mr-1 ml-1" mat-raised-button [href]="'tel:'+user.phone">
            <mat-icon>phone</mat-icon>
          </a>
          
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
