<br />
<br />
<table class="table col-11 mr-auto ml-auto table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Date</th>
      <th scope="col">Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of dataSource; let i = index">
      <ng-container
        *ngIf="
          user.date.month == date.getMonth() &&
          ( 
            (user.date.day + 3 >= date.getDate() && user.date.day <= date.getDate() + 4) ||
            user.date.day == date.getDate()
          )
        "
      >
        <th scope="row">{{ i }}</th>
        <td>{{ user.name }}</td>
        <td>
          <b class="text-warning">
            {{ user.date.day }}
            {{ user.date.month }}         
        </b>
        {{ user.date.year }}

        </td>
        <td>{{ user.phone }}
          <button mat-raised-button [cdkCopyToClipboard]="user.phone">Copy</button>
          
        </td>
      </ng-container>
    </tr>
  </tbody>
</table>
